{% load static %} <!--load static file-->

{% extend 'base.html' %}

{% include 'polls/base' obj as rel_obj %} <!--peredacha obj-->

{% block content %} <!--content - block-name-->

{% block child%} <!--ierarh. blokov-->
{% endblock %}

{% block.super %} <!--render. text from base.html + content of this block-->

{% endblock %}

<h1>Author</h1>

<form action="" method="post">
    {% csrf_token %}
    <!-- as_p - each field - paragraph -->
    {{form.as_p}}

    {% for field in form %}
        {{ field }}

        <!--  -->
        <div>
            {{ field.value }}
            {{ field.help_text }}
        </div>



        {{ field.label_tag }}

        <!-- label tag manually -->
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% endfor %}

    <!-- render one field -->
    {{ form.first_name }}

    <!-- render error -->
    {{ form.first_name.error }}
    <input type="submit" value="Vote">
</form>