<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users LightIT Academy</title>
    {% load static %}

<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style_base.css' %}"/>

        <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'css/creative.css' %}" type="text/css">

    {% block links %}
    {% endblock %}
</head>
<div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul id="menu" class="nav navbar-nav">
                 {% for k, v in menus.items %}

                    <li {% if k == title %} class="active" {% endif %}>
                            {% if k == 'LogIn' %}
                                <a href="{{ v }}?next={{ request.path }}">{{ k }}</a>
                            {% else %}
                                <a  href="{{ v }}">{{ k }}</a>
                            {% endif %}
                    </li>
                    {% endfor %}
                </ul>

                <p class="navbar-text navbar-right">

                        {% block user_name %}
                        {% if user.is_authenticated %}
                            <a href="#" class="navbar-link">
                                {{ user.username }}
                            </a>
                        {% else %}
                            <a href="#myLoginForm" class="btn btn-dafeault" role="button"
                               data-toggle="modal">
                                    Login
                            </a>
                            <a href="{% url 'index:registration' %}" class="btn btn-dafeault">
                                    Registration
                            </a>
                        {% endif %}
                        {% endblock %}
                </p>

            </div>
        </div>
</div>
<div id="body_div" class="container-fluid">
    {% block body_app %}
    {% endblock %}
</div>
<div id="foot" class="panel-footer">
    <footer>
        {% now "Y" %}
    </footer>
</div>

<div class="modal fade" id="myLoginForm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">x</button>
                <h4>Login</h4>
            </div>
            <form method="post" action="{% url 'index:login' %}?next={{request.path}}">
                {% csrf_token %}
                 <div class="modal-body">
                    {{ form_for_login.as_p }}
                 </div>
                <div class="modal-footer">
                    <input type="submit" value="Login"/>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>